body, html {
    height: 100%;
    margin: 0;
  }
  
body {
    /* The image used */
    background-image: url(https://images.unsplash.com/photo-1455102979059-35ac2b150ba2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 .my-con {
     position: relative;
     margin-top: 0px;
 }
 .pic {
    height: 200px;
    width: 174px;
 }
 .container {
 width: auto;
 max-width: 680px;
 padding: 0 15px;
 
 }
 footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 60px;
 }
 nav {
     position:fixed;
     height: 60px;
 }
.navbar-brand {
    font-weight: bold;
    position: absolute;
    font-size: 40px;
    font-family: 'Vollkorn', serif;
  }
  .navbar-light .navbar-nav .nav-link {
      color: white;
      text-align: end;
    
  }
 .collapse .navebar-collapse {
     text-align: end;
 }
 #info {
     margin-top: 15px;
 }
 p {
    font-family: 'Vollkorn', serif;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    background-color: #1e568363;
    padding-left: 10px;
 }
 #section {
     margin-top: 15px;
 }
 h3 {
     text-align: center;
     font-family: 'Vollkorn', serif;
 }
 .urlImg {
    width: 185px;
    height:185px;
    display:block;
    background-image: url(assets\images\city.jpg);
  }
  .urlImg:hover {
    background-image: url(./assets/images/shark.png);
  }
